* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f4f7f9;
  color: #333;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  text-align: center;
  background-color: #ffffff;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h1 {
  margin-bottom: 20px;
}

.config {
  margin-bottom: 20px;
}

input[type="text"] {
  padding: 10px;
  font-size: 16px;
  margin-bottom: 10px;
}

button {
  background-color: #56b4d3;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 16px;
  border-radius: 5px;
  margin: 5px;
}

button:hover {
  background-color: #4890a2;
}

.wheel-container {
  margin-bottom: 20px;
}

canvas {
  border-radius: 50%;
  border: 10px solid #56b4d3;
}

.trick-control {
  margin-top: 20px;
}

input[type="number"] {
  padding: 10px;
  font-size: 16px;
  margin-right: 10px;
}
